In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn.naive_bayes import GaussianNB

In [2]:
%matplotlib inline

In [3]:
df = pd.read_csv("D:/Spring 2019/Data Sci/AirPassengers.csv")

In [4]:
df.tail()

       Month  No_Passengers
139  1960-08            606
140  1960-09            508
141  1960-10            461
142  1960-11            390
143  1960-12            432

In [5]:
df.describe()

       No_Passengers
count     144.000000
mean      280.298611
std       119.966317
min       104.000000
25%       180.000000
50%       265.500000
75%       360.500000
max       622.000000

In [6]:
date = np.array(df['Month'])

In [7]:
# Dividing Date into Months and Years
year = []
month = []
for i in range(0,144):
    year.append(int(date[i].split('-')[0]))
    month.append(int(date[i].split('-')[1]))

In [8]:
df['Year'] = year

In [9]:
df.drop('Month', axis=1, inplace=True)

In [10]:
df['Month'] = month

In [11]:
#Successfully Divided
df.head()

   No_Passengers  Year  Month
0            112  1949      1
1            118  1949      2
2            132  1949      3
3            129  1949      4
4            121  1949      5

In [13]:
from sklearn.model_selection import train_test_split

#Splitting Data into Train and Test data sets

X=df.drop('No_Passengers', axis=1)
y=df['No_Passengers']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [27]:
from sklearn.ensemble import RandomForestRegressor

#Applying Random Forest model for 20 trees

regressor = RandomForestRegressor(n_estimators=20, random_state=0)  
regressor.fit(X_train, y_train)  
y_pred = regressor.predict(X_test)

In [28]:
from sklearn import metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 18.29090909090909
Mean Squared Error: 496.4942045454546
Root Mean Squared Error: 22.282149908513194